
html{
  padding:0;
  margin:0;
}
 
h1{
  font-weight: light;
  font-size: 40px;
  font-weight: 20;
  color:black;
  margin: 0;
  margin-bottom: 5%;
  margin-top: 1%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* h3{
  text-align: center;
  font-family: 'Geneva';
} */
.center_div{
  margin-bottom: 8%;
  text-align: center;
 
}
 
input{
  height:30px;
  border-radius: 10px;
  border: 1px solid;
  width:300px;
  margin-right: 5%;
 
}
 
.input-input {
  text-align: center;
  /* margin-bottom: 20px; */
}
 
input::placeholder{
  padding-left: 20px;
}
 
input:hover{
  
  border: none;
  font-size: 20px;
}
img{
  height:200px;
  width:200px;
  justify-content: center;
}
 
ul{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  margin:0;
  padding:0;
  grid-gap:10px;
}
 
li{
  border:none;
  background-color: white;
  list-style: none;
  /* height:400px; */
  font-family: cursive;
  position: relative;
}
 
 
li:hover{
  cursor: pointer;
  border: none;
  /* filter: brightness(100%); */
  border: 2px solid rgb(89, 65, 65);
  grid-gap:10px;
  /* background-color: #DED4E8; */
}
 
select{
  margin-right: 5%;
  width:80px;
  height:40px;
  text-align: center;
  border-radius: 20px;
  /* margin-bottom: 10px; */
 
} 
select:hover{
  scale:1.0001;
  transition: 0.1;
}
  */
.filter-main {
  display: flex;
  justify-content: space-around;
  /* margin-bottom: 5%; */
}
 
/* p{
  color:rgb(180, 219, 180);
} */
 
/* label{
  font-size: 13px;
} */
 
.flex-div{
  display: flex;
 
}
 
.flex-div button{
  display:block;
  width:30%;
  margin-left:10%;
  margin-bottom: 5%;
  border-radius: 10%;
  border:1px solid;
  box-sizing: border-box;
}
 
.ul-dv{
width:70%;
}
.test{
  width:30%;
}
 
.product-image:hover{
  scale:1.1;
  transition: 0.1s;
 
}
 
.select button{
  border-radius: 20px;
 
}